@import 'nib'
@import '../../../../styles/global.styl'

.hud
	position: absolute
	top: 15%
	height: $nav-height
	width: 100%
	font-size: 14px
	font-weight: 700
	color: #ffffff
	clearfix()
	z-index: 5
	.links
		padding-left: 10px
	p
		display: block
		margin: 0
		padding: 0 50px
		width: 100%
		line-height: $nav-height
	.designer-logo
		display: inline-block
		width: 49%
		cursor: pointer
	.about-link
		display: inline-block
		width: 50%
		text-align: right
		cursor: pointer

.project-slide
	.hud .designer-logo
		opacity: 0
		transition: opacity 0.25s ease-in-out
	&.curr .hud .designer-logo
		transition: opacity 0.5s ease-out 0.8s
		opacity: 1
	.hud .about-link
		opacity: 0
		transition: opacity 0.25s ease-in-out
	&.curr .hud .about-link
		opacity: 1
		transition: opacity 0.5s ease-in-out 1.05s