@import 'nib'
@import '../../../../styles/global.styl'

.hud
	position: absolute
	height: $nav-height
	background-color: rgba(#c1b289, 0.8)
	width: 100%
	clearfix()
	z-index: 5
	.slide-counter
		float: right
		padding: 0 10px
		height: 100%
		font-size: 14px
		font-weight: 700
		line-height: $nav-height
		color: #ffffff