@import 'nib'

.about-page
	padding: 15px
	.close-button
		position: absolute
		top: 10%
		right: 8%
		padding: 0 15px
		font-size: 45px
		user-select: none
		cursor: pointer
		background-color: yellow