<div class="header"></div>
<div class="project-feature wfull row">
	<img class="project-bgimg" src="{{this.bgImg}}" />
	<div class="project-info">
		<div class="project-titleblock">
			{{#if this.title}}
			<h2>{{this.title}}</h2>
			{{/if}}
		</div>
		<div class="project-contentblock">
			{{#if this.description}}
			<p>{{this.description}}</p>
			{{/if}}
		</div>
		<div class="project-cta">
			<button>{{this.buttonCopy}}</button>
		</div>
	</div>
</div>