<div class="project-feature wfull row">
	<div class="keyart-wrap c6">
		<img class="project-keyart" src="{{this.keyart}}" />
	</div>
	<div class="title-wrap c6">
		<div class="client-wrap">
			<div class="client-underline"></div>
			<img class="project-client" src="{{this.logo}}" />
		</div>
	</div>
</div>