<div class="project-feature wfull row">
	<img class="project-bgimg" src="{{this.bgImg}}" />
	{{!-- <div class="title-wrap c6">
		<div class="client-wrap">
			<div class="client-underline"></div>
			<img class="project-client" src="{{this.logo}}" />
		</div>
	</div> --}}
</div>