@import 'nib'
@import '../../../../styles/global.styl'

.portfolio-carousel
	position: relative
	top: 0
	left: 100%
	width: 100%
	height: 100%
	user-select: none
	-webkit-user-drag: none
	user-drag: none
	cursor: -webkit-grab
	cursor: -moz-grab
	transform-style: preserve-3d
	transition: all 850ms ease-in-out
	$hardwareAccel()
	&.flip
		transform: rotateY(180deg)
	&.current
		left: 0%
	&.prev
		left: -100%
	*
		user-select: none
		-webkit-user-drag: none
		user-drag: none
	&.mousedown
		cursor: default
		cursor: -webkit-grabbing
		cursor: -moz-grabbing
	.project-wrapper,
	.about-wrapper
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		backface-visibility: hidden
	.project-wrapper
		transform: rotateY(0deg)
		overflow: hidden
	.about-wrapper
		display: none
		transform: rotateY(180deg)
		background-color: orange