// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
@import '../../../../styles/global.styl'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

 body
 	font-size: 62.5%

 /***
 *  Site Container Styles
 */
#Site-Container
	position: relative

/***
 *  Page Container Styles
 */

#Page-Container
	overflow: hidden
	background-color: #edead0
	.page-wrapper
		position: relative
		width: 100%
		height: 100%

/***
 *  Nav Container Styles
 */
nav.header
	height: 0

/***
 *  Footer Styles
 */
footer
	position: fixed
	left: 0
	bottom: 0
	height: $footer-height
	width: 100%