@import 'nib'

.marquee-hitarea
	position: absolute
	top: 0
	left: -3%
	width: 6%
	height: 100%
	z-index: 5
.marquee-container.active .marquee-hitarea
	left: 0%
	width: 0%

.marquee-container
	position: absolute
	top: 0
	left: 99%
	width: 25%
	height: 100%
	background-color: #fff
	transition: left 0.4s ease-in-out
	z-index: 2
	$hardwareAccel()
	&.active
		left: 75%
.marquee-viewport
	position: relative
	padding-right: 2%
	width: 106%
	height: 100%
	overflow-y: auto
.marquee-wrapper
	width: 100%
	min-height: 100%
	background-color: #000